<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <title>Quote Request</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Quote Request Form</h1>
            <br>
            <br>
            <br>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">What would you like a quote for?</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                  <!-- <input type="text" class="form-control" placeholder="product description" name="description"> -->
            </div>
              <br>
              <br>
                <div class="form-group">
                  <label for="exampleFormControlFile1">Upload image</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image">
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleFormControlFile1">state phone number for contacting</label>
                    <input type="number" class="form-control-file" id="exampleFormControlFile1" name="phone" value="234">
                </div>
                <br>
                <br>

            <button type="submit" class="btn btn-primary">submit</button>
          </form>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>